@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .title {
        font-size: 62px;
        margin-top: 127px;
    }

    .for {
        &__item {
            height: 265px;
            background-size: cover;

            &_big {
                height: 268px;
            }
        }
    }

    .product__content {
        gap: 29px;
    }

    .footer__logo {
        display: none;
    }

    .cart {
        grid-template-columns: repeat(8, 1fr);

    }
}

@media (min-width: 768px) and (max-width: 834px) {

    .top,
    .top__catalog {
        padding-left: 24px;
        padding-right: 24px;
    }

    .catalog__info {
        padding-top: 64px;
    }

    .product {
        width: 345px;
    }
}