@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

.top {
  padding-left: 120px;
  padding-right: 120px;
  height: 735px;
  flex-shrink: 0;
  background-image: url(img/topback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  height: 77px;
  display: flex;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__input {
  width: 288px;
  height: 41px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 32px;
  padding-right: 32px;
}
.header__input::-moz-placeholder {
  color: #ffffff;
}
.header__input::placeholder {
  color: #ffffff;
}

.menu {
  display: flex;
  gap: 32px;
}
.menu__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__mob {
  display: none;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #ffffff;
  margin-top: 64px;
  margin-bottom: 16px;
  max-width: 792px;
}

.top__text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 16px;
}

.link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ffffff;
}
.link:hover {
  text-decoration: none;
}

.for-box {
  padding-top: 64px;
}

.main__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}

.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}
.for__item {
  height: 415px;
  grid-column: span 4;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
}
.for__item_big {
  grid-column: span 6;
}
.for__item_1 {
  background-image: url(img/for-1.jpg);
}
.for__item_2 {
  background-image: url(img/for-2.jpg);
}
.for__item_3 {
  background-image: url(img/for-3.jpg);
}
.for__item_4 {
  background-image: url(img/for-4.jpg);
}
.for__item_5 {
  background-image: url(img/for-5.jpg);
}

.product {
  width: 378px;
  display: flex;
  flex-direction: column;
}
.product:hover {
  transform: scale(1.05);
}
.product__img {
  width: 100%;
}
.product-box {
  padding-top: 32px;
}
.product__content {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  padding-top: 32px;
}
.product__name {
  margin-top: 10px;
  font-style: normal;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.product__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}
.product__box-price {
  display: flex;
  gap: 32px;
}
.product__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}
.product__sale {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.end__link {
  margin-top: 36px;
  margin-bottom: 64px;
  display: flex;
  justify-content: flex-start;
}

.bottom__link {
  width: 155px;
  height: 24px;
  flex-shrink: 0;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
.bottom__link:hover {
  text-decoration: none;
}

.footer {
  background: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__logo {
  padding: 9px 42px 77px 0px;
  display: flex;
  justify-content: center;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__info {
  display: flex;
  flex-wrap: wrap;
  gap: 129px;
}

.footer__menu,
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  background: #F7F6F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: grey;
  text-decoration: none;
}
.footer__link:hover {
  color: #000;
  text-decoration: underline;
}

.footer__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__icons_img:hover path {
  fill: #000;
}
.footer__icons_img path {
  transition: fill 1.3s;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__text {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.footer__input {
  background: #ffffff;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  width: 268px;
  height: 46px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 12px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 18px;
  fill: #FFF;
  stroke-width: 1px;
  stroke: #C4C4C4;
}
.footer__input::-moz-placeholder {
  color: #C4C4C4;
  padding-left: 32px;
}
.footer__input::placeholder {
  color: #C4C4C4;
  padding-left: 32px;
}

.footer__button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  width: 268px;
  height: 46px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  transition: all 0.3s;
}
.footer__button:hover {
  color: #FFF;
  background-color: #000;
}

/*Каталог*/
.top__catalog {
  height: 400px;
  background-image: url(img/catalog_top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalog__info {
  padding-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.breadcrumbs {
  color: #000;
}
.breadcrumbs:hover span {
  text-decoration: underline;
}

.select {
  position: relative;
  width: 288px;
}

.select select {
  height: 41px;
  flex-shrink: 0;
  display: block;
  padding-left: 16px;
  padding-right: 22px;
  width: 100%; /* от ширины блока div */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 20px;
  border: 1px solid #C4C4C4;
}

.select::after {
  content: url(img/Polygon_11.svg);
  display: block;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -5px;
  width: 20px;
  height: 11px;
  background-image: url(img/Polygon\ 11.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.bottom__link_catalog {
  width: 155px;
  height: 24px;
  flex-shrink: 0;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

/*Корзина*/
@keyframes jello-diagonal-1 {
  0% {
    transform: skew(0deg 0deg);
  }
  30% {
    transform: skew(25deg 25deg);
  }
  40% {
    transform: skew(-15deg, -15deg);
  }
  50% {
    transform: skew(15deg, 15deg);
  }
  65% {
    transform: skew(-5deg, -5deg);
  }
  75% {
    transform: skew(5deg, 5deg);
  }
  100% {
    transform: skew(0deg 0deg);
  }
}
.top-cart {
  height: 400px;
  background-image: url(img/top_cart.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heading__big {
  color: #ffffff;
  margin-top: 127px;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px;
  margin-left: 76px;
}

.header__input {
  width: 288px;
  height: 41px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #ffffff;
  flex-shrink: 0;
  background-color: transparent;
  outline: none;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  padding-left: 32px;
  padding-right: 32px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart__content {
  grid-column: span 8;
}
.cart__name_box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
  stroke-width: 0.5px;
  stroke: #CACDD8;
  border-bottom: 1px solid grey;
}
.cart__name_box_line {
  stroke-width: 0.5px;
  stroke: #CACDD8;
  border-bottom: 1px solid grey;
}
.cart__item {
  border-top: 0, 5px solid #cacdd8;
  padding-top: 25px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__left {
  display: flex;
  gap: 32px;
}
.cart__info {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cart__name {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 190px;
  height: 29px;
  flex-shrink: 0;
}
.cart__text {
  color: #888;
  width: 276px;
  height: 50px;
  flex-shrink: 0;
}
.cart__price {
  color: #050505;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  width: 96px;
  height: 20.001px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.cart__link_box {
  gap: 30px;
  display: flex;
}
.cart__link_box_name {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 210%;
  /* 29.4px */
  text-decoration-line: underline;
}

.amount {
  border-radius: 6px;
  border-color: transparent;
  background: #F7F6F6;
  display: flex;
  width: 71px;
  height: 51px;
  flex-direction: row;
  justify-content: center;
  flex-shrink: 0;
  color: var(--Color---7, #000);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 210%;
  /* 29.4px */
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 7px;
}

.cart__button {
  background: #FFF;
  margin-top: 18px;
  width: 205px;
  height: 37px;
  display: inline-flex;
  padding: 10px 20px 10px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s;
}
.cart__button:hover {
  border-radius: 50px;
  background: var(--Color---7, #000);
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cart__form {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: space-evenly;
  align-items: flex-end;
  align-items: center;
  gap: 18px;
  padding: 42px 44px 148px 45px;
  border-radius: 20px;
  background: #F7F6F6;
}

.heading__order {
  margin-bottom: 25px;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 379px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.heading__price {
  margin-top: 64px;
  color: #000;
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 288px;
}
.form__item {
  padding-bottom: 3px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  height: auto;
  background: transparent;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__item::-moz-placeholder {
  font-family: Montserrat;
}
.form__item::placeholder {
  font-family: Montserrat;
}

.form::-moz-placeholder {
  padding-bottom: 0px;
}

.form::placeholder {
  padding-bottom: 0px;
}

.button {
  background: #F7F6F6;
  font-family: Montserrat;
  display: flex;
  width: 290px;
  height: 41px;
  padding: 10px 61px 11px 88px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #040404;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s;
  animation: jello-diagonal-1 0.8s 1s 3 both;
}
.button:hover {
  border-radius: 50px;
  background: var(--Color---7, #000);
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .title {
    font-size: 62px;
    margin-top: 127px;
  }
  .for__item {
    height: 265px;
    background-size: cover;
  }
  .for__item_big {
    height: 268px;
  }
  .product__content {
    gap: 29px;
  }
  .footer__logo {
    display: none;
  }
  .cart {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 834px) {
  .top,
  .top__catalog {
    padding-left: 24px;
    padding-right: 24px;
  }
  .catalog__info {
    padding-top: 64px;
  }
  .product {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
    gap: 32px;
    height: 57px;
  }
  .header__input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu__mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .logo__img {
    width: 99px;
  }
  .title {
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    max-width: 343px;
  }
  .top {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__text {
    text-align: center;
    font-size: 16px;
    line-height: 32px;
  }
  .link {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .main__heading {
    font-size: 24px;
    line-height: 29px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item_big {
    height: 244px;
  }
  .product__name,
  .product__price,
  .product__sale {
    font-size: 18px;
  }
  .product__name__content,
  .product__price__content,
  .product__sale__content {
    gap: 32px;
  }
  .footer {
    padding-bottom: 32px;
  }
  .footer__info {
    justify-content: center;
    gap: 47px 100px;
  }
  .footer__form {
    gap: 14px;
    padding-top: 0px;
  }
  .end__link {
    margin-bottom: 32px;
  }
  .catalog__info {
    flex-direction: column;
    gap: 16px;
  }
  .catalog__links {
    font-size: 14px;
  }
  .select {
    font-size: 14px;
    justify-content: space-between;
  }
  .product__img {
    height: 227px;
  }
  .goods {
    display: none;
  }
  .cart {
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .cart__img {
    display: none;
  }
  .cart__item {
    padding-bottom: 24px;
    padding-top: 18px;
  }
  .cart__info {
    gap: 14px;
  }
  .cart__name {
    font-size: 18px;
  }
  .cart__text, .cart__prace {
    font-size: 12px;
  }
  .cart__button {
    padding: 10px 1px 10px 2px;
    font-size: 12px;
    margin-top: 0px;
  }
  .cart__form {
    padding: 42px 38px 148px 38px;
  }
  .actions {
    gap: 14px;
    padding-left: 0px;
    justify-content: space-between;
  }
  .form {
    margin-bottom: 46px;
  }
  .product-box {
    padding-top: 48px;
  }
  .heading__big {
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    max-width: 343px;
    margin-top: 82px;
  }
}/*# sourceMappingURL=style.css.map */